<%= form_for(@operador) do |f| %>
  <% if @operador.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
      <h4><%= pluralize(@operador.errors.count, "erro(s)") %> Não foi possível salvar Operador:</h4>
      <ul>
          <% @operador.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="form-group col-md-8">
    <%= f.label :nome, class: 'control-label'%><br>
    <%= f.text_field :nome, class: 'form-control'  %>
  </div>
</div> 
<div class="row">
  <div class="form-group col-md-4">
    <%= f.label :nome_reduzido %><br>
    <%= f.text_field :nome_reduzido, class: 'form-control'  %>
  </div>
  <div class="form-group col-md-4">
    <%= f.label 'Função', class: 'control-label'  %><br>
    <%= f.select :funcao_id, 
        options_from_collection_for_select(Funcao.all, :id, :tipo, @operador.funcao_id), 
        { :include_blank => 'Selecione' }, { :class => 'form-control' } %>
  </div>
</div>
  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>