<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Editar Operador</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>

<%= render 'form' %>
</br>
<%= link_to 'Visualizar', @operador, class: 'btn btn-default' %> |
<%= link_to 'Voltar', operadors_path, class: 'btn btn-default' %>
