<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Lista de Operadores</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<% if notice or alert %>
<div class="alert alert-<%= alert ? 'warning' : 'success' %> alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
  <p id="notice"><%= notice %></p><p id="alert"><%= alert %></p>
</div>
<%end%>

<div class="col-md-12">
  <div class="panel panel-default">
      <div class="panel-heading">
          Operadores
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
          <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>Nome reduzido</th>
                      <th>Função</th>
                      <th colspan="3">Ações</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    <% @operadors.each do |operador| %>
                      <tr>
                        <td><%= operador.nome %></td>
                        <td><%= operador.nome_reduzido %></td>
                        <td><%= operador.funcao.tipo %></td>
                        <td align="center"><%= link_to 'Visualizar', operador %></td>
                        <td align="center"><%= link_to 'Editar', edit_operador_path(operador) %></td>
                        <td align="center"><%= link_to 'Excluir', operador, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'btn btn-danger' %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table> 
          </div>
    </div>  
  </div>    
</div>

</br>

<%= link_to 'Novo Operador', new_operador_path, class: 'btn btn-primary' %>
