<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Visualizar Operador</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>

<% unless notice.nil? %>
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
  <p id="notice"><%= notice %></p>
</div>
<%end%>

<p>
  <strong>Nome:</strong>
  <%= @operador.nome %>
</p>

<p>
  <strong>Nome reduzido:</strong>
  <%= @operador.nome_reduzido %>
</p>

<p>
  <strong>Função:</strong>
  <%= @operador.funcao.tipo %>
</p>

<%= link_to 'Editar', edit_operador_path(@operador), class: 'btn btn-default' %> |
<%= link_to 'Voltar', operadors_path, class: 'btn btn-default' %>
