<!DOCTYPE html>
<html lang="en">

<head>

    <title>App Vaquejada</title>

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login</h3>
                    </div>
                    <div class="panel-body">
                       
                            <fieldset>
                                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %> 

                                <%= devise_error_messages! %>
                                <!-- <div class="form-group">
                                    <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus> 
                                </div> -->
                                <div class="form-group">
                                    <%= f.label :email %><br/>
                                    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
                                </div>
                                <!-- <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div> -->
                                <div class="form-group">
                                    <%= f.label :password %><br />
                                    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                                </div>

                                <div class="checkbox">
                                    <label>
                                        <% if devise_mapping.rememberable? %>
                                        <div class="field">
                                          <%= f.check_box :remember_me %>
                                          <%= f.label :remember_me %>
                                        </div>
                                        <% end %>
                                    </label>
                                </div>

                                <!-- Change this to a button or input when using this as a form -->
                                <!-- <a href="index.html" class="btn btn-lg btn-success btn-block">Login</a> -->
                                <div class="actions">
                                    <%= f.submit "Login", class: 'btn btn-lg btn-success btn-block' %>
                                </div>
                                <% end %>
                            </fieldset>
                            <%= render "users/shared/links" %>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>