<%= form_for(@evento_vaquejada) do |f| %>
  <% if @evento_vaquejada.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
      <h4><%= pluralize(@evento_vaquejada.errors.count, "erro(s)") %> Não foi possível salvar Vaquejada:</h4>
      <ul>
          <% @evento_vaquejada.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="row">  
    <div class="form-group col-md-4">
      <%= f.label :data_inicio, class: 'control-label' %>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        <%= f.text_field :data_inicio, class: 'form-control datepicker', "data-provide" => 'datepicker',  
            :value => (f.object.data_inicio.strftime('%d/%m/%Y') if f.object.data_inicio)   %>
      </div>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :data_fim, class: 'control-label' %>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        <%= f.text_field :data_fim, class: 'form-control datepicker', "data-provide" => 'datepicker',  
            :value => (f.object.data_fim.strftime('%d/%m/%Y') if f.object.data_fim)   %>
      </div>
    </div>
  </div> 
  <div class="row"> 
    <div class="form-group col-md-6">
      <%= f.label :cidade, class: 'control-label'  %><br>
      <%= f.text_field :cidade, class: 'form-control'  %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :estado, class: 'control-label'  %><br>
      <%= f.text_field :estado, class: 'form-control'  %>
    </div>
  </div>
  
  <div class="row">  
    <div class="form-group col-md-4">
    <%= f.label :circuito_id, class: 'control-label'  %><br>
    <%= f.select :circuito_id, 
        options_from_collection_for_select(Circuito.all, :id, :nome, @evento_vaquejada.circuito_id), 
        { :include_blank => 'Selecione' }, { :class => 'form-control' } %>
    </div>

    <div class="form-group col-md-4">
    <%= f.label :operador_id, class: 'control-label'  %><br>
    <%= f.select :operador_id, 
        options_from_collection_for_select(Operador.all, :id, :nome, @evento_vaquejada.operador_id ), 
        { :include_blank => 'Selecione' }, { :class => 'form-control' } %> 
    </div>

    <div class="form-group col-md-4">
    <%= f.label :operador2_id, class: 'control-label'  %><br>
    <%= f.select :operador2_id, 
        options_from_collection_for_select(Operador.all, :id, :nome, @evento_vaquejada.operador2_id ), 
        { :include_blank => 'Selecione' }, { :class => 'form-control' } %>
    </div>
  </div>
  
  <div class="row">  
    <div class="form-group col-md-4">
      <%= f.label :qtd_escricoes, class: 'control-label'  %><br>
      <%= f.number_field :qtd_escricoes, class: 'form-control'  %>
    </div>
    
    <div class="form-group col-md-4">
      <%= f.label :qtd_bois_profissional, class: 'control-label'  %><br>
      <%= f.number_field :qtd_bois_profissional, class: 'form-control'  %>
    </div>

     <div class="form-group col-md-4">
      <%= f.label :qtd_bois_amador, class: 'control-label'  %><br>
      <%= f.number_field :qtd_bois_amador, class: 'form-control'  %>
    </div>
  </div>
  
  <div class="row">  
   
    <div class="form-group col-md-8">
      <%= f.label :tipo_senha, class: 'control-label'  %><br>
      <%= f.text_field :tipo_senha, class: 'form-control'  %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :qtd_escricoes_vaqueiro, class: 'control-label'  %><br>
      <%= f.number_field :qtd_escricoes_vaqueiro, class: 'form-control'  %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :descricao, class: 'control-label'  %><br>
      <%= f.text_area :descricao, class: 'form-control'  %>
    </div>
  </div>
    
  <div class="actions">
    <%= f.submit class: 'btn btn-success'%>
  </div>
<% end %>
