<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Editar Evento Vaquejada</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>

<%= render 'form' %>
</br>
<%= link_to 'Visualizar', @evento_vaquejada, class: 'btn btn-default' %> |
<%= link_to 'Voltar', evento_vaquejadas_path, class: 'btn btn-default' %>
</br>