<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Lista de Eventos Vaquejadas</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<% unless notice.nil? %>
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
  <p id="notice"><%= notice %></p>
</div>
<%end%>

<div class="col-md-12">
  <div class="panel panel-default">
      <div class="panel-heading">
          Vaquejadas
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
          <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Data inicio</th>
                      <th>Data fim</th>
                      <th>Cidade</th>
                      <th>Estado</th>
                      <th>Qtd escrições</th>
                      <th>Circuito</th>
                      <th colspan="3">Ações</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    <% @evento_vaquejadas.each do |evento_vaquejada| %>
                      <tr>
                        <td><%= evento_vaquejada.data_inicio.to_s(:custom_datetime) %></td>
                        <td><%= evento_vaquejada.data_fim.to_s(:custom_datetime) %></td>
                        <td><%= evento_vaquejada.cidade %></td>
                        <td><%= evento_vaquejada.estado %></td>
                        <td><%= evento_vaquejada.qtd_escricoes %></td>
                        <td><%= evento_vaquejada.circuito.nome %></td>
                        <td align="center"><%= link_to 'Visualizar', evento_vaquejada %></td>
                        <td align="center"><%= link_to 'Editar', edit_evento_vaquejada_path(evento_vaquejada) %></td>
                        <td align="center"><%= link_to 'Excluir', evento_vaquejada, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'btn btn-danger' %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table> 
          </div>
    </div>  
  </div>    
</div>


<br>

<%= link_to 'Novo Evento vaquejada', new_evento_vaquejada_path, class: 'btn btn-primary' %>
