<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Visualizar Evento Vaquejada</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<% unless notice.nil? %>
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
  <p id="notice"><%= notice %></p>
</div>
<%end%>

<p>
  <strong>Descrição:</strong>
  <%= @evento_vaquejada.descricao %>
</p>

<p>
  <strong>Data inicio:</strong>
  <%= @evento_vaquejada.data_inicio.to_s(:custom_datetime) %>
</p>

<p>
  <strong>Data fim:</strong>
  <%= @evento_vaquejada.data_fim.to_s(:custom_datetime) %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @evento_vaquejada.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @evento_vaquejada.estado %>
</p>

<p>
  <strong>Circuito:</strong>
  <%= @evento_vaquejada.circuito.nome %>
</p>

<p>
  <strong>Qtd escrições:</strong>
  <%= @evento_vaquejada.qtd_escricoes %>
</p>

<p>
  <strong>Operador:</strong>
  <%= @evento_vaquejada.operador.nome %>
</p>

<p>
  <strong>Operador 2:</strong>
  <%= @evento_vaquejada.operador2.nome unless @evento_vaquejada.operador2.nil?%>
</p>

<p>
  <strong>Qtd bois profissional:</strong>
  <%= @evento_vaquejada.qtd_bois_profissional %>
</p>

<p>
  <strong>Qtd bois amador:</strong>
  <%= @evento_vaquejada.qtd_bois_amador %>
</p>

<p>
  <strong>Tipo senha:</strong>
  <%= @evento_vaquejada.tipo_senha %>
</p>

<p>
  <strong>Qtd escrições vaqueiro:</strong>
  <%= @evento_vaquejada.qtd_escricoes_vaqueiro %>
</p>

<%= link_to 'Editar', edit_evento_vaquejada_path(@evento_vaquejada), class: 'btn btn-default' %> |
<%= link_to 'Voltar', evento_vaquejadas_path, class: 'btn btn-default' %>
