<%= form_for(@vaqueiro) do |f| %>
  <% if @vaqueiro.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
      <h4><%= pluralize(@vaqueiro.errors.count, "erro(s)") %> Não foi possível salvar Vaqueiro:</h4>
      <ul>
          <% @vaqueiro.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :nome, class: 'control-label' %>
      <%= f.text_field :nome, class: 'form-control' %>
    </div>

    <div class="form-group col-md-4">
      <%= f.label :data_nascimento, class: 'control-label' %>
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        <%= f.text_field :data_nascimento, class: 'form-control datepicker', "data-provide" => 'datepicker',  
            :value => (f.object.data_nascimento.strftime('%d/%m/%Y') if f.object.data_nascimento) %>
      </div>
    </div>  

  </div>  

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :cpf, class: 'control-label' %>
      <%= f.text_field :cpf, class: 'form-control'  %>
    </div>

    <div class="form-group col-md-8">
      <%= f.label :tipo, class: 'control-label' %>
      <%= f.text_field :tipo, class: 'form-control'  %>
    </div>
  </div>
    
  <div class="row">  
    <div class="form-group col-md-6">
      <%= f.label :cidade, class: 'control-label' %>
      <%= f.text_field :cidade, class: 'form-control'  %>
    </div>

    <div class="form-group col-md-6">
      <%= f.label :estado, class: 'control-label' %>
      <%= f.text_field :estado, class: 'form-control'  %>
    </div>
  </div>  

  <div class="actions">
    <%= f.submit  class: 'btn btn-success'%>
  </div>
<% end %>

