<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Editar Vaqueiro</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<%= render 'form' %>
</br>
<%= link_to 'Visualizar', @vaqueiro, class: 'btn btn-default' %> |
<%= link_to 'Voltar', vaqueiros_path, class: 'btn btn-default' %>
