<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Lista de Vaqueiros</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<% unless notice.nil? %>
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
  <p id="notice"><%= notice %></p>
</div>
<%end%>

<div class="col-md-12">
  <div class="panel panel-default">
      <div class="panel-heading">
          Vaqueiros
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
          <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>Cpf</th>
                      <th>Tipo</th>
                      <th>Data nascimento</th>
                      <th>Cidade</th>
                      <th>Estado</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    <% @vaqueiros.each do |vaqueiro| %>
                      <tr>
                        <td><%= vaqueiro.nome %></td>
                        <td><%= vaqueiro.cpf %></td>
                        <td><%= vaqueiro.tipo %></td>
                        <td><%= vaqueiro.data_nascimento.to_s(:custom_datetime) %></td>
                        <td><%= vaqueiro.cidade %></td>
                        <td><%= vaqueiro.estado %></td>
                        <td align="center"><%= link_to 'Visualizar', vaqueiro %></td>
                        <td align="center"><%= link_to 'Editar', edit_vaqueiro_path(vaqueiro) %></td>
                        <td align="center"><%= link_to 'Excluir', vaqueiro, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'btn btn-danger' %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table> 
          </div>
    </div>  
  </div>    
</div>

<br>

<%= link_to 'Novo Vaqueiro', new_vaqueiro_path, class: 'btn btn-primary' %>
