<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Novo Vaqueiro</h2>
    </div>
</div>

<%= render 'form' %>
</br>
<%= link_to 'Voltar', vaqueiros_path, class: 'btn btn-default' %>
