<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Visualizar Vaqueiro</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>

<% unless notice.nil? %>
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
  <p id="notice"><%= notice %></p>
</div>
<%end%>

<p>
  <strong>Nome:</strong>
  <%= @vaqueiro.nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @vaqueiro.cpf %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @vaqueiro.tipo %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @vaqueiro.data_nascimento.to_s(:custom_datetime) %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @vaqueiro.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @vaqueiro.estado %>
</p>

<%= link_to 'Editar', edit_vaqueiro_path(@vaqueiro), class: 'btn btn-default'  %> |
<%= link_to 'Voltar', vaqueiros_path, class: 'btn btn-default'  %>
