<%= form_for(@circuito) do |f| %>
  <% if @circuito.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
      <h4><%= pluralize(@circuito.errors.count, "erro(s)") %> Não foi possível salvar o Circuito:</h4>
      <ul>
          <% @circuito.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-9">
      <%= f.label :nome, class: 'control-label' %><br>
      <%= f.text_field :nome, class: 'form-control' %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :ano, class: 'control-label' %><br>
      <%= f.number_field :ano, class: 'form-control' %>
    </div>
  </div>
  <div class="row">  
    <div class="form-group col-md-6">
      <%= f.label :cidade, class: 'control-label' %><br>
      <%= f.text_field :cidade, class: 'form-control' %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :estado, class: 'control-label' %><br>
      <%= f.text_field :estado, class: 'form-control' %>
    </div>
  </div>
  <div class="row"> 
     <div class="form-group col-md-6">
      <%= f.label :contato, class: 'control-label' %><br>
      <%= f.text_field :contato, class: 'form-control' %>
    </div> 
    <div class="form-group col-md-3">
      <%= f.label :telefone_contato, class: 'control-label' %><br>
      <%= f.text_field :telefone_contato, class: 'form-control' %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :telefone_contato_2, class: 'control-label' %><br>
      <%= f.text_field :telefone_contato_2, class: 'form-control' %>
    </div>
  </div> 
  <div class="row">   
    <div class="form-group col-md-8">
      <%= f.label :descricao, class: 'control-label' %><br>
      <%= f.text_area :descricao, class: 'form-control' %>
    </div>
  </div>
    
  <div class="actions">
    <%= f.submit class: 'btn btn-success'%>
  </div>
<% end %>
