<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Editar Circuito</h2>
    </div>
</div>

<%= render 'form' %>
</br>
<%= link_to 'Visualizar', @circuito, class: 'btn btn-default'  %> |
<%= link_to 'Voltar', circuitos_path, class: 'btn btn-default'  %>
