<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Lista de Circuitos</h2>
    </div>
    <!-- /.col-lg-12 -->
</div>
<% if notice or alert%>
<div class="alert alert-<%= alert ? 'warning' : 'success' %> alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
  <p id="notice"><%= notice %></p><p id="alert"><%= alert %></p>
</div>
<%end%>

<div class="col-md-12">
  <div class="panel panel-default">
      <div class="panel-heading">
          Circuitos
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
          <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>Cidade</th>
                      <th>Estado</th>
                      <th>Ano</th>
                      <th>Contato</th>
                      <th>Telefone contato</th>
                      <th colspan="3">Ações</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                     <% @circuitos.each do |circuito| %>
                      <tr>
                        <td><%= circuito.nome %></td>
                        <td><%= circuito.cidade %></td>
                        <td><%= circuito.estado %></td>
                        <td><%= circuito.ano %></td>
                        <td><%= circuito.contato %></td>
                        <td><%= circuito.telefone_contato %></td>
                        <td align="center"><%= link_to 'Visualizar', circuito %></td>
                        <td align="center"><%= link_to 'Editar', edit_circuito_path(circuito) %></td>
                        <td align="center"><%= link_to 'Excluir', circuito, method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' }, class: 'btn btn-danger' %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table> 
          </div>
    </div>  
  </div>    
</div>
<br>

<%= link_to 'Novo Circuito', new_circuito_path, class: 'btn btn-primary' %>
