<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Visualizar Circuito</h2>
    </div>
</div>
<% unless notice.nil? %>
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
  <p id="notice"><%= notice %></p>
</div>
<%end%>

<p>
  <strong>Nome:</strong>
  <%= @circuito.nome %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @circuito.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @circuito.estado %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @circuito.ano %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @circuito.contato %>
</p>

<p>
  <strong>Telefone contato:</strong>
  <%= @circuito.telefone_contato %>
</p>

<p>
  <strong>Telefone contato 2:</strong>
  <%= @circuito.telefone_contato_2 %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @circuito.descricao %>
</p>

<%= link_to 'Editar', edit_circuito_path(@circuito), class: 'btn btn-default' %> |
<%= link_to 'Voltar', circuitos_path, class: 'btn btn-default' %>
