<%= form_for(@funcao) do |f| %>
<% if @funcao.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
      <h4><%= pluralize(@funcao.errors.count, "erro(s)") %> Não foi possível salvar Função:</h4>
      <ul>
          <% @funcao.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :tipo, class: 'control-label' %><br>
      <%= f.text_field :tipo, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-8">
      <%= f.label :descricao, class: 'control-label' %><br>
      <%= f.text_area :descricao, class: 'form-control' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
