<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Visualizar Função</h2>
    </div>
</div>
<% unless notice.nil? %>
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 
  <p id="notice"><%= notice %></p>
</div>
<%end%>

<p>
  <strong>Tipo:</strong>
  <%= @funcao.tipo %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @funcao.descricao %>
</p>


<%= link_to 'Editar', edit_funcao_path(@funcao), class: 'btn btn-default' %> |
<%= link_to 'Voltar', funcaos_path, class: 'btn btn-default' %>
