<!DOCTYPE html>
<html lang="en">

<head>

    <title>App Vaquejada</title>

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Esqueceu sua senha?</h3>
                    </div>
                    <div class="panel-body">
                       
                            <fieldset>

							<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
							  <%= devise_error_messages! %>

							  <div class="form-group">
							    <%= f.label :email %><br />
							    <%= f.email_field :email, autofocus: true, class: 'form-control'  %>
							  </div>

							  <div class="actions">
							    <%= f.submit "Enviar email para redefinir a senha", class: 'btn btn-lg btn-success btn-block'%>
							  </div>
							<% end %>
                                
                            </fieldset>
                            <%= render "users/shared/links" %>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>